#topbox {
    position:fixed;
    height:60px;
    width:100%;
    top:0%;
    left:0%;
    text-align:center;
    background-color:#24292e;
}
.topbox_operation_button {
    background-color:bisque;
    font-size:0.8em;
    border-radius:12px;
    width:90px;
    cursor:pointer;
};
